nav {
  background-color: #e9ecef;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #e9ecef;
}

.jumbotron {
  text-align: center;
}

.lead {
  margin-left: 300px;
  font-family: Adobe Myungjo Std M;
}
